<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Профиль</title>{% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
{% block topbar %}
<div class="menu">
   <div class="top-menu">
    <ul>
        <div class="btn-group navbar-btn navbar-left">
            <li><a href="/main/me" class="click1">Главная</a></li>
        </div>
        <div style="margin-left:10px;margin-right:10px;float:left" class="btn-group navbar-btn navbar-right"> <li><a href="/main/profile" class="click1">Профиль</a></li>
        <li><a href="/main/values" class="click1">Итоговые оценки</a></li>
        <li class="button1"><a href="/auth/logout" class="click1">Выйти</a></li>
        </div>
    </ul>
    </div>
<div class="item-center"><h3>Ваш профиль</h3></div>
</div>
{% endblock %}
{% block profile %}
{% endblock %}
</body>
</html>